anyio==4.0.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
certifi==2023.7.22 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
h11==0.14.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
httpcore==0.18.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
httpx==0.25.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
idna==3.4 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
python-dotenv==1.0.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
python-telegram-bot==20.6 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
sniffio==1.3.0 ; python_version >= "3.12.dev0" and python_version < "3.13.dev0"
